body {
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to left, lightgrey, darkgrey,  grey);
}

h1,h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

.container {
    width: 500px;
    margin: 70px auto;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    font-size: 100px;
    margin: 30px;
}

button {
    border: none;
    font-size: 2.0em;
    padding: 5px 5px;
    margin: 20px;
    width: 120px;
}
button:hover {
    cursor: pointer;
    background-color: brown;
    color: #fff;
    transition: .4s;
    border: none;
}